.arrayItem {
    font-weight: bold;
    color: #9E9E9E;
    background-color: #EEEEEE;
    display: inline-block;
    height: 40px;
    width: 24px;
    border: 2px solid #9E9E9E;
    margin-right: 10px;
    padding: 2px 3px;
}